/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
    text-align: center;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
    text-align: center;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
    text-align: center;
}


.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}


.buttonEliminarIcon {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 2px;
    cursor: pointer;
}

.textUpper{
    text-transform: uppercase;
}

.textCapitalize{
    text-transform: capitalize;
}

.textLowerCase{
    text-transform: lowercase;
}